{% extends 'base.html' %}}

{% block content %}
<main>
<div>
    <h1>My Tasks</h1>
    {% if not tasks %}
    <p>You have no tasks</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>is completed</th>
                </tr>
            </thead>
    {% endif %}
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td> {{ task.name }}</td>
                    <td> {{ task.start_date }}</td>
                    <td> {{ task.Due_date }}</td>
                    <td> {{ task.is_completed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</main>
{% endblock content %}
