{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Projects</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <main>
        <div class="whole-page">
            <div class ="form">
                <header>
                    <nav>
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                            <li><a href="{% url 'list_projects' %}"></a>My projects</li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">Signup</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
            {% block content %}
            {% endblock content %}
        </div>
            <div class="bubbles">
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:15;"></span>
                <span style="--i:17;"></span>
                <span style="--i:22;"></span>
                <span style="--i:24;"></span>
                <span style="--i:28;"></span>
                <span style="--i:13;"></span>
                <span style="--i:29;"></span>
                <span style="--i:30;"></span>
                <span style="--i:31;"></span>
                <span style="--i:28;"></span>
                <span style="--i:32;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:15;"></span>
                <span style="--i:17;"></span>
                <span style="--i:22;"></span>
                <span style="--i:24;"></span>
                <span style="--i:28;"></span>
                <span style="--i:13;"></span>
                <span style="--i:29;"></span>
                <span style="--i:30;"></span>
                <span style="--i:31;"></span>
                <span style="--i:28;"></span>
                <span style="--i:32;"></span>
                <span style="--i:13;"></span>
                <span style="--i:29;"></span>
                <span style="--i:30;"></span>
                <span style="--i:31;"></span>
                <span style="--i:28;"></span>
                <span style="--i:32;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:15;"></span>
                <span style="--i:17;"></span>
                <span style="--i:22;"></span>
                <span style="--i:24;"></span>
                <span style="--i:28;"></span>
                <span style="--i:13;"></span>
                <span style="--i:29;"></span>
                <span style="--i:30;"></span>
                <span style="--i:31;"></span>
                <span style="--i:28;"></span>
                <span style="--i:32;"></span>
            </div>
        </div>
    </main>
</body>
</html>
